.container {
background-color: var(--bgSoft);
padding: 20px;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table td,
.table th {
    padding: 10px;
}
.title {
    font-weight: 200;
    margin-bottom: 16px;
}
.table tr:nth-child(even) {
    background-color: #e0f4ff06;
}
.table th {
    background-color: #2b34990c;
}
.user {
    display: flex;
    align-items: center;
    gap: 11px;

}
.user img {
    object-fit: cover;
    border-radius: 3px;

}
.status {
    padding: 4px;
    font-size: 12px;
    color: white;
    border: 2px;
    border-radius: 2px;
}
.done {
    background-color: #afd6ee75;
}
.cancelled {
    background-color:#f7737375 ;
}
.pending {
    background-color:#f7cb7375 ;
}
