:root {
  --bg:#151c2c;
  --bgSoft:#08122e;
  --text:#fff;
  --textSoft:#b7bac1;
  --linkH:#2e375a;
  --navbg:#293058;
  --bgFooter:#040402;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg);
  color: var(--text);
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  
}
