.main{}
.navContainer{
  height: 80px;
  background-color: var(--bgSoft);
}
.nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 2.3rem;
height: 100%;
}
.logo{}
.dashboardLinkContainer a{
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: var(--bgSoft);
  font-weight:600;
  letter-spacing: .05rem;
  background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  /* background-color: transparent; */
  border: 1px solid transparent;
  padding: 4px 10px;
  font-size: 1.1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-color: #0d6efd;
  

}
.dashboardLinkContainer a:hover {
  color: #636363;
}
.mainTitleContainer{
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  
}
.mainTitleContainer::before {
  scroll-behavior: smooth;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/homebg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px) brightness(24%);
  background-attachment: fixed;
}
.mainTitle{
  width: 60%;
  position: relative;
  z-index: 1;
 margin-top: 80px;
}
.mainTitle h1 {
  background-image: linear-gradient(to left bottom,hsl(195, 60%, 58%),hsl(240, 69%, 61%));
  background-clip: text;
  text-align: center;
  font-size: 88px;
  -webkit-text-fill-color: transparent;
}
.mainTitle p {
  font-size: 1.4rem;
  color: #999999;
  text-align: justify;
}
.boxContainer {
  width: 100%;
  background-color: var(--bgSoft);
  display: flex;
  justify-content: center;
  padding: 30px 10px;

}
.boxPot {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;


}
.box {
  width: 27%;
  height: 230px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: var(--bg);
  padding: 20px 30px;
  transition: all .3s ease-in-out;

}
.box div:first-child  {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.box h4 {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.box:hover {
  background-image: linear-gradient(to left bottom,hsl(195, 45%, 51%),hsl(240, 53%, 54%));
cursor: pointer;
color: var(--bgSoft);
}
.box p {
  text-align: justify;
  margin-top: 10px;
}
.collapsibleContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: var(--bg);
}
.footerContainer {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bgFooter);
  color: var(--textSoft);
}
.footerContainer strong {
  font-size: large;
  font-weight: 400;
  padding: 0 5px;
  color: #55b4d4 ;
}
/* 
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
