.container {
    display: flex;
    gap: 20px;
    margin-top:10px ;
}
.formContainer {
    flex: 3;
    background-color: #08122e;
    padding: 10px 30px;
    
}
.infoContainer {
    flex: 1;
    padding: 20px;
    font-weight: bold;
    color: var(--textSoft);
    background-color: #08122e;
    height: max-content;
    /* display: flex; */

}
.imageContainer {
    position: relative;
    width: 90%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}
.imageContainer img {
}
.form {
    display: flex;
    flex-direction: column;
}

.form label {
    color: var(--textSoft);
}
.form input, .form textarea,.form select {
    padding: 12px;
    border: 2px solid #2e374a;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
    margin: 10px 0px;
}
.form button {
    width: 100%;
    padding: 20px;
    background-color: teal;
    color: teal;
    color: var(--text);
    border: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}
.form textarea {
    resize: none;
}