.container {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    transition: background-color .150s;

}
.container:hover,.active{
    background-color: var(--linkH);
}